<ion-header>
  <ion-toolbar style="color:#325ca6">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" routerLink="/menu/evenements" routerDirection="forward" style="color:#325ca6">
    Évenements
  </ion-button>

  <ion-button expand="block" routerLink="/menu/presence" routerDirection="forward" style="color:#325ca6">
    Relevé de présence
  </ion-button>

</ion-content>
